#设置存储类型
quartz.jobStore.type=Quartz.Impl.AdoJobStore.JobStoreTX, Quartz
#驱动类型
quartz.jobStore.driverDelegateType=Quartz.Impl.AdoJobStore.SqlServerDelegate, Quartz
#数据源名称，于 quartz.dataSource 的属性名一样
quartz.jobStore.dataSource=myDS
#数据连接字符串
quartz.dataSource.myDS.connectionString=Database=Quartz;Server=localhost;User ID=sa;Password=MtHorizon2003h;Encrypt=True;TrustServerCertificate=True;
#数据库类型
quartz.dataSource.myDS.provider=SqlServer
#JobDataMaps 中的值只能是字符串，具体可以看官方推荐这样设置的原因
quartz.jobStore.useProperties=true
#数据存储序列号方式
quartz.serializer.type=json